<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Emotion Analysis on Twitter Dataset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>
    <div class="header">
        <h1>Covid-19 Emotion Analysis on Twitter Dataset</h1>
    </div>
    <!-- <div class="hero">
        <div class="layer"></div>
    </div> -->
    <div class="heading">
        <h1>State Wise Emotion Analysis</h1>
    </div>
    <div class="btn-group state">
        <button type="button" class="btn btn-danger dropdown-toggle btn-state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select States Here.
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Andhra Pradesh</a>
          <a class="dropdown-item">Delhi</a>
          <a class="dropdown-item">Goa</a>
          <a class="dropdown-item">Gujarat</a>
          <a class="dropdown-item">Karnataka</a>
          <a class="dropdown-item">Madhya Pradesh</a>
          <a class="dropdown-item">Maharashtra</a>
          <a class="dropdown-item">Punjab</a>
          <a class="dropdown-item">Rajasthan</a>
          <a class="dropdown-item">Tamil Nadu</a>
          <a class="dropdown-item">Uttar Pradesh</a>
          <a class="dropdown-item">West Bengal</a>
          <!-- <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
    </div>
    <div class="plot">
        <div id='myDiv'></div>
        <div class = "linplot"><img class="lin" src="" alt=""></div>
    </div>
    <div class="seperator"></div>
    <div class="heading">
        <h1>Emotion Wise India</h1>
    </div>
    <div class="btn-group emotion">
        <button type="button" class="btn btn-danger dropdown-toggle btn-emotion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Emotions Here.
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Anger</a>
          <a class="dropdown-item">Anticipation</a>
          <a class="dropdown-item">Disgust</a>
          <a class="dropdown-item">Fear</a>
          <a class="dropdown-item">Joy</a>
          <a class="dropdown-item">Sadness</a>
          <a class="dropdown-item">Surprise</a>
          <a class="dropdown-item">Trust</a>
          <!-- <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
    </div>
    <div class = "india-heatmap">
        <img class="emotion-india" src="" alt="">
    </div>
    <div class="seperator"></div>
    <div class="tweet_container d-flex justify-content-around">
        <div>
            <h3 class="small-heading">Tweets Related To Coronavirus In Last 24-Hrs</h3>
            <div class="tweets_24 jumbotron">
                <ul><%- demo_24 %></ul>
            </div>
        </div>
        <div>
            <h3 class="small-heading">Realtime Tweets Related To Coronavirus</h3>
            <div class="tweets jumbotron">
                <ul><%- demo %></ul>
            </div>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="jumbotron footer">
        <h1 class="heading">Meet The Team</h1>
        <div class="container">
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/images/Adarsh.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Adarsh Kumar</h5>
                      <p class="card-text">Adarsh is a student of computer science. He had been working in the area of Machine Learning and Deep Learning based projects. His main areas of interest are Web Development, Machine learning, Deep learning, Data analytics and Image processing.</p>
                      <p class="card-text"><small class="text-muted">Email : adarsh12k@gmail.com</small></p>
                      <p class="card-text"><small class="text-muted">LinkedIn : https://www.linkedin.com/in/adarsh-kumar-5b1a1719b</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/images/Rohan.jpeg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Rohan Arora</h5>
                      <p class="card-text">Rohan is a student of computer science. He had been working in the area of software development, Machine Learning and Computer Vision based projects. His main areas of interest are Machine learning, Deep learning, Data analytics and Image processing.</p>
                      <p class="card-text"><small class="text-muted">Email : rohanaroraaashi@gmail.com</small></p>
                      <p class="card-text"><small class="text-muted">LinkedIn : https://www.linkedin.com/in/rohanarora18/</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/images/Shreya.jpeg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Shreya Dhingra</h5>
                      <p class="card-text">Shreya Dhingra is a student of computer science. Her areas of interest include Machine Learning, Deep Learning, Image Processing, Semantic Analysis, Natural Language Processing and Data analytics.</p>
                      <p class="card-text"><small class="text-muted">Email : shreyadhingra54@gmail.com</small></p>
                      <p class="card-text"><small class="text-muted">LinkedIn : https://www.linkedin.com/in/shreya-dhingra-927b19190</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/images/Piyush_Katariya.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Piyush Katariya</h5>
                      <p class="card-text">Piyush Katariya is a student of computer science. He had been working in the area of software development,  Machine Learning and Computer Vision based projects. His main areas of interests is in Data analytics, Image processing, Web developement, Machine learning and Deep learning.</p>
                      <p class="card-text"><small class="text-muted">Email : piyushkatariya95@gmail.com</small></p>
                      <p class="card-text"><small class="text-muted">LinkedIn : https://www.linkedin.com/in/piyush-katariya-197332180/</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>